.input-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.input {
  box-sizing: border-box;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2rem;
  min-height: 4rem;
  background-color: var(--bg);
  color: var(--text);
  border: none;
  outline: 1px solid var(--text);
  flex: 1 1 auto; // let input grow/shrink
  width: 100%; // ensure it fills container if no button
  min-width: 0; // prevent overflow
  font-family: "Jersey 25", "Noto Serif", sans-serif !important;

  &:focus {
    outline: 2px solid var(--primary);
  }

  &:disabled {
    color: var(--text);
    background: lightgray;
    outline-color: grey;
  }

  &.invalid {
    outline: 2px solid red !important;
  }
}

.input-label {
  font-family: "Jersey 25", "Noto Serif", sans-serif !important;
  font-weight: 500;
  font-size: 2rem;
  color: var(--text);
  text-transform: uppercase;

  &--disabled {
    color: var(--text);
  }
}

.input-invalid-text {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text);
  display: flex;
  align-items: center;
  margin-top: 0.5rem;

  span {
    font-size: 1.5rem;
    color: red;
    vertical-align: top;
    margin-right: 0.5rem;
  }
}
