@use "../../Colors.scss" as *;

.chat {
  display: flex;
  flex-direction: column;
  max-width: 32rem;
  width: 100%;
  justify-content: end;
  flex: 1;
}

.chat-log {
  height: 100%;
  min-height: 14rem;
  max-height: 20rem;
  overflow-y: auto;
  padding-right: 4px;
  margin-bottom: 1rem;
  background-color: var(--bg);
  border: 1px solid var(--text);
  border-radius: 0.5rem;
  padding: 1rem;
  flex: 1;
}

.chat-message {
  margin-bottom: 2px;
  word-wrap: break-word;
}

.system {
  font-weight: bold;
  color: #999;
}

.chat-sender {
  margin-right: 4px;
  font-weight: 600;
}

.chat-input {
  display: flex;
  margin-top: 4px;
}
