@use "../../Colors.scss" as *;

.button-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button {
  min-height: 3rem;
  border-radius: 8px;
  font-size: 32px;
  font-weight: 600;
  width: 100%;
  transition: background-color 0.1s ease;
  padding: 0 1rem;
  white-space: nowrap;

  display: flex;
  justify-content: space-between;

  &.primary {
    border: none;
    background-color: var(--primary);
    color: var(--text-on-primary);

    &:hover:not(:disabled) {
      background-color: var(--secondary);
    }
  }

  &.secondary {
    border: none;
    position: relative;
    box-sizing: border-box;
    outline: none;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      border: 3px solid var(--primary);
      border-radius: 8px;
      pointer-events: none;
      box-sizing: border-box;
    }
    background-color: var(--bg);
    color: var(--primary);

    &:hover:not(:disabled) {
      background-color: var(--primary);
      color: var(--text-on-primary);
    }
  }

  .button-text {
    padding: 1rem;
  }

  &:hover {
    cursor: pointer;
    transition: background-color 0.1s ease;
  }

  .material-symbols-outlined {
    font-size: 48px !important;
    position: relative;
    top: 10px;
    margin-left: -8px;
  }

  &:disabled {
    background-color: lightgray;
    cursor: not-allowed;
    color: var(--gray);
  }
}

.button-label {
  font-weight: 500;
  font-size: 1.25rem;
  color: var(--text);

  &--disabled {
    color: gray;
  }
}
