.player-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border: 3px var(--primary) solid;
  font-size: 1.5rem;
  border-radius: 3rem;
  padding: 0.5rem 1rem;
  background-color: var(--bg);
  user-select: none;
  width: fit-content;
  height: fit-content;
  font-family: "Jersey 25", "Noto Serif", sans-serif !important;
  paint-order: stroke fill;

  &.small {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    border-width: 2px;
    .material-symbols-outlined {
      font-size: 1rem;
    }
  }

  &.correct-guess {
    background-color: var(--correct);
    color: #f5f5f5 !important;
    border-color: #1f7a44 !important;

    span {
      color: #f5f5f5 !important;
    }
  }

  .material-symbols-outlined {
    font-size: 2rem;
  }
}
