@use "../../Colors.scss" as *;

.window {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  height: fit-content;
  padding: 4rem 5rem;
  margin: 5rem;
  background-color: var(--bg);
  border: 1px var(--primary) solid;
  border-radius: 30px;
}
