@use "./Colors.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

.page {
  width: fit-content;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.room-page {
  width: 100%;
  height: 100%;

  flex-wrap: wrap;
  margin: auto;
}

.room {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  gap: 2rem;

  @media (max-width: 1200px) {
    flex-direction: column !important;
    width: fit-content;
  }
}

.room-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-game-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5rem;
  gap: 2rem;
}

.room-game-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-game-stats {
  display: flex;
  flex-direction: column;
}

.room-player-content {
  display: flex;
  flex-direction: column;
}

.player-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 32rem;
}

.player-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 25%;
  width: 32rem;
  height: fit-content;
  padding: 3rem;
  background-color: white;
  border: 1px black solid;
  border-radius: 30px;
}

.error-home-button {
  max-width: 20rem;
  margin-top: 4rem;
}

.home-button {
  max-width: fit-content;
}

h1 {
  font-size: 72px;
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

.title {
  font-family: "Jersey 25", "Noto Serif", sans-serif !important;

  text-align: center;
  font-size: 10rem;
  font-weight: 600;
  margin: 4rem;
  color: $cyan;
}

h2 {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

h3 {
  margin: 0;
  .material-symbols-outlined {
    font-size: 2rem;
    position: relative;
    top: 7px;
    margin-right: 4px;
  }
}

.title-icon {
  font-size: 64px !important;
  position: relative;
  top: 6px;
}

.player {
  font-size: 1.5rem;

  .material-symbols-outlined {
    font-size: 2rem;
    position: relative;
    top: 6px;
    margin-right: 4px;
  }

  span {
    color: $gray;
  }
}

.room-player-scores {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  margin-top: -1rem;
}

.board-section {
  display: flex;
  gap: 2rem;
}

.player-score {
  font-size: 2rem;
  width: fit-content;
  background-color: white;
  margin-bottom: 0.5rem;

  .material-symbols-outlined {
    font-size: 3rem;
    position: relative;
    top: 13px;
    margin-right: 4px;
  }
}

.name-edit-icon {
  color: $cyan;
}

.join-section {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.room-code-input {
  max-width: 32rem;
}

.room-player {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.menu-divider {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "Jersey 25", "Noto Serif", sans-serif !important;
  color: $cyan;
}

.playername {
  height: 4rem;
  width: 20rem;
  border-radius: 8px;
  font-size: 32px;
  border: 1px solid black;
  padding: 0 1rem;
  border: 0;
  outline: 1px solid black;
}

.button-bottom-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 5rem;
  margin-left: 5rem;
}

.start-game-button {
  max-width: fit-content;
}

.end-game-button {
  margin-top: 1rem;
}

.timer {
  font-size: 5rem;
}
