@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

.title {
  font-family: "Jersey 25", "Noto Serif", sans-serif !important;
  text-align: center;
  font-size: 10vw;
  font-weight: 600;
  color: var(--primary);
  margin: 0;
  user-select: none;
}
