@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");

.home-page {
  width: fit-content;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin: auto;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 25%;
  width: 32rem;
  height: fit-content;
  padding: 3rem;
  background-color: var(--bg);
  border: 3px var(--primary) solid;
  border-radius: 30px;
}

.home-join-section {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
}

.menu-divider {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-family: "Jersey 25", "Noto Serif", sans-serif !important;
  color: var(--text);
}
