@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg-size: 40px;
  font-family: "Roboto", sans-serif;
  --bg: #ffffff;
  --text: #000000;
  --gray: #b0b0b0;
  --primary: #297aa3; /* blå-ish */
  --secondary: color-mix(in srgb, var(--primary) 70%, black 30%);
  --tertiary: color-mix(in srgb, var(--primary) 50%, white 50%);
  --text-on-primary: #ffffff;
  --correct: #2e9e5b;

  transition:
    background-color 0.2s ease,
    color 0.2s ease;

  /* For alle elementer som bruker CSS-variabler */
  * {
    transition:
      background-color 0.2s ease,
      color 0.2s ease,
      border-color 0.2s ease;
  }
}

[data-theme="dark"] {
  --bg: #121212;
  --text: #f5f5f5;
  --gray: #888888;
  --primary: #ffcc33; /* gul-ish */
  --secondary: color-mix(in srgb, var(--primary) 70%, black 30%);
  --tertiary: color-mix(in srgb, var(--primary) 50%, white 50%);
  --text-on-primary: #000000;
  --correct: #2e9e5b;
}

body {
  font-family: "Roboto", sans-serif;

  background-color: var(--bg);
  color: var(--text);
  background-image: radial-gradient(var(--text) 1px, transparent 0);
  background-size: var(--bg-size) var(--bg-size);
  animation: scroll 2s linear infinite;
  margin: 0;
  height: 100vh;
}

@keyframes scroll {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: var(--bg-size) calc(var(--bg-size) * -1);
  }
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}
